<div class="w-full h-auto min-h-screen max-h-screen flex items-start justify-start">
  <div class="w-full h-full min-w-[280px] max-w-[280px] min-h-screen max-h-screen bg-linear-to-t from-sky-500 to-indigo-500 overflow-y-auto">
    <p>Sidebar</p>
  </div>
  <div class="w-full h-full min-h-screen max-h-screen flex flex-col items-start justify-start">
    <div class="w-full h-full min-h-[54px] max-h-[54px] bg-white shadow-lg border-b-[2px] border-gray-100">
      <p>Appbar</p>
    </div>
    <div class="w-full h-full min-h-[calc(100vh-54px)] max-h-[calc(100vh-54px)]">
      <p>Container</p>
    </div>
  </div>
</div>
