<div
  class="w-full h-full min-h-[calc(100vh-104px)] max-h-[calc(100vh-104px)] flex flex-col items-center justify-center max-w-[425px] mx-auto overflow-hidden gap-[25px]">
  <div class="w-full h-auto flex flex-col items-center justify-center">
    <img src="assets/images/banner/png/connection-error.png" alt="Person icon" loading="lazy"
      class="w-full h-auto rounded-[8px] object-contain object-center" />
  </div>
  <div class="w-full h-auto">
    <button type="button"
      class="w-full h-auto px-[20px] py-[10px] rounded-[8px] cursor-pointer bg-blue-500 text-center text-[14px] leading-[20px] font-semibold text-white transition-all hover:bg-blue-600"
      (click)="reloadPage()">
      Reload Page
    </button>
  </div>
</div>